{% comment %} Example dictionaries:
{ phlap01linw-fd : { Full-LT-Copies-02: [18, '22.05.15 02:33', 21, 255493], Full-LT: [18, '22.03.15 01:10', 51, 26593], } }
client_pool_dict:
{'"phlap01winw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'},
  'phserver01-fd': {'Incremental-ST', 'Full-ST'},
  '"phlap01linw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'}}
copy_dependency_dict:
{'Incremental-LT': {'Incremental-LT-Copies-01', 'Incremental-LT-Copies-02'}, 'Full-LT': {'Full-LT-Copies-02', 'Full-LT-Copies-01'}}
{% endcomment %}

<html>
  <head>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Bacula-monitor</title>
  </head>
<body>
<div class="content">
<h2>Bacula-monitor</h2>

<div class="c_flex">
{% for skey, svalue in jobs_should.items %}
{% comment %} key is our client {% endcomment %}
<section class="c">
<h4>{{ skey }}</h4>
<table>
  {% comment %} iterating the value list here. {% endcomment %}
  <tr>
    <th>Pool</th>
    <th>Size (GB)</th>
    <th>Ended</th>
    <th>Duration</th>
    <th>Files</th>
    <th>Timeout</th>
  </tr>
  {% for svalue2 in svalue %}
  <tr>
    {% for jkey, jvalue in jobs.items %}
      {% comment %} here we compare client. {% endcomment %}
      {% if skey == jkey %}
        {% comment %} here we check if svalue2 (pool from should) is in jvalue (dict with pool-keys of client). {% endcomment %}
        {% if not svalue2 in jvalue %}
          <tr>
            <td style="color: red;">{{ svalue2 }}</td>
          </tr>
        {% else %}

          {% for ckey, cvalue in copy_dep.items %}
            {% if svalue2 == ckey %}
              {% for cvalue2 in cvalue %}
                {% if not cvalue2 in jvalue %}
                  <tr>
                    <td style="color: red;">{{ cvalue2 }}</td>
                  </tr>

                {% else %}
                  <tr>
                    <td style="color: green;">{{ cvalue2 }}</td>
                    {% for jkey2, jvalue2 in jvalue.items %}
                      {% comment %} (copy pools) here we compare pools. copy with should and then get right {% endcomment %}
                      {% if jkey2 == cvalue2 %}
                        {% for jvalue3 in jvalue2 %}
                          {% if forloop.counter == 5 %}
                            {% if jvalue3 == 1 %}
                              <td style="color: yellow;">OLD</td>
                            {% else %}
                              <td style="color: green;">OK</td>
                            {% endif %}
                          {% else %}
                            <td>{{ jvalue3 }}</td>
                          {% endif %}
                        {% endfor %}


                      {% else %}


                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endif %}
              {% endfor %}

            {% endif %}

          {% endfor %}

          <tr>
            <td style="color: green;">{{ svalue2 }}</td>
            {% for jkey2, jvalue2 in jvalue.items %}
              {% comment %} here we compare pools. {% endcomment %}
              {% if svalue2 == jkey2 %}
                {% for jvalue3 in jvalue2 %}
                  {% if forloop.counter == 5 %}
                    {% if jvalue3 == 1 %}
                      <td style="color: yellow;">OLD</td>
                    {% else %}
                      <td style="color: green;">OK</td>
                    {% endif %}
                  {% else %}
                    <td>{{ jvalue3 }}</td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
      {% endif %}
    {% endfor %} {% comment %} endfor of jobs.items  {% endcomment %}
  </tr>
  {% endfor %} {% comment %} endfor of svalue  {% endcomment %}
</table>
</section>
{% endfor %}  {% comment %} endfor of jobs_should.items  {% endcomment %}
</div>

</div>
</body>
</html>
