<html>
  <head>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Bacula-monitor</title>
  </head>
<body>
<div class="content">
  <div class="header">
    <h2>Bacula-monitor</h2>
    <ul>
      <li>Pools:</li>
      <li><span class="green">OK</span></li>
      <li><span class="yellow">OLD</span></li>
      <li><span class="red">MISSING</span></li>
    </ul>
    <ul>
      <li>Client:</li>
      <li><span class="green">UP</span></li>
      <li><span class="red">DOWN</span></li>
    </ul>
    <ul class="navigation">
      <li><a href="/">RECENT</a></li>
      <li><a href="/monitor/all_backups">ALL</a></li>
    </ul>
  </div>
  {% block content %}
  {% endblock content %}
</div> <!-- content -->
</body>
</html>

{% comment %} Example dictionaries:
jobs:                 { phlap01linw-fd : { Full-LT-Copies-02: [18, '22.05.15 02:33', 21, 255493], Full-LT: [18, '22.03.15 01:10', 51, 26593], } }
client_pool_dict:     {'"phlap01winw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'}, 'phserver01-fd': {'Incremental-ST', 'Full-ST'},
                       '"phlap01linw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'}}
copy_dependency_dict: {'Incremental-LT': {'Incremental-LT-Copies-01', 'Incremental-LT-Copies-02'}, 'Full-LT': {'Full-LT-Copies-02', 'Full-LT-Copies-01'}} {% endcomment %}
