{% extends "monitor/index.html" %}
{% block content %}
  <div class="c_flex">
  {% for jck, jcv in jobs.items %}                  {% comment %} for job_client_key/val in jobs {% endcomment %}
  {% for jfk, jfv in jcv.items %}                   {% comment %} for job_fileset_key/val in job_client_val.
                                                                  Needs to be up here, because we want each client_pool_fileset in a seperate section. {% endcomment %}
    <section class="c">
      {% for hkey, hvalue in hosts.items %}         {% comment %} for host_key/val in hosts {% endcomment %}
      {% if jck == hkey %}
      {% for el in hvalue|slice:"1:" %}
      {% if el == 1 %}
      <h4 class="green">{{ jck }} - {{ jfk }}</h4>
      {% elif el == 0 %}
      <h4 class="red">{{ jck }} - {{ jfk }}</h4>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      <table>
        <tr>
          <th>Pool</th>
          <th>Size (GB)</th>
          <th>Ended</th>
          <th>Duration (mins)</th>
          <th>Files (#)</th>
        </tr>
        {% for jpk, jpv in jfv.items %}             {% comment %} for job_pool_key/val in job_fileset_val {% endcomment %}
        {% if jpv == 0 %}
        <tr>
          <td><span class="red">{{ jpk }}</span></td>
        </tr>
        {% else %}
        <tr>
          {% if jpv.4 == 1 %}
          <td><span class="yellow">{{ jpk }}</td>
          {% elif jpv.4 == 0 %}
          <td><span class="green">{{ jpk }}</td>
          {% endif %}
          {% for jpe in jpv %}
          {% if forloop.counter == 5 %}
          {% else %}
          <td><span>{{ jpe }}</span></td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </section>
  {% endfor %}
  {% endfor %}
  </div> <!-- <div class="c_flex"> -->
{% endblock content %}

{% comment %} Example dictionaries:
jobs:                 { phlap01linw-fd : { Full-LT-Copies-02: [18, '22.05.15 02:33', 21, 255493], Full-LT: [18, '22.03.15 01:10', 51, 26593], } }
client_pool_dict:     {'"phlap01winw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'}, 'phserver01-fd': {'Incremental-ST', 'Full-ST'},
                       '"phlap01linw-fd"': {'Incremental-ST', 'Incremental-LT', 'Full-ST', 'Full-LT'}}
copy_dependency_dict: {'Incremental-LT': {'Incremental-LT-Copies-01', 'Incremental-LT-Copies-02'}, 'Full-LT': {'Full-LT-Copies-02', 'Full-LT-Copies-01'}} {% endcomment %}
