body {
  background-color: black;
  margin: 0;
  padding: 0 !important;
  font-family: "Roboto";
  font-style: normal;
  color: white;
  font-size: 95%; }

a {
  text-decoration: none;
  color: white; }

h2 {
  margin-top: 0;
  font-size: 105%;
  display: inline-block;
  color: white;}
.header ul{
  margin-top: 0;
  display: inline-block;}

.header li{
  display: inline-block;}
.content {
  width: 99.6%;
  margin: 0 auto;
  color: #b4b4b4;}

.content a {
  color: #b4b4b4;
  text-decoration: none; }
.c_flex {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.c {
  margin: 0;
  padding: 0;
  border: 1px dashed grey;}
  @media only screen and (min-width: 3000px) {
    .c {
      max-width: 23%;
      flex: 1 1 23%; } }
  @media only screen and (min-width: 2560px) and (max-width: 2999px) {
    .c {
      max-width: 33%;
      flex: 1 1 33%; } }
  @media only screen and (min-width: 1750px) and (max-width: 2560px) {
    .c {
      max-width: 33%;
      flex: 1 1 33%; } }
  @media only screen and (min-width: 1000px) and (max-width: 1749px) {
    .c {
      max-width: 49%;
      flex: 1 1 49%; } }
  .c table {
    width: 100%;
    margin: 0 auto;
    color: white; }
  .c th {
    font-size: 90%;
    text-align: center;
    padding-right: 10px; }
  .c td {
    text-align: center;
    vertical-align: middle;
    font-size: 90%;}

  .c td > span {
    margin: 0 auto;
    text-align: center;}
  .c h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    font-size: 120%;}

.green {
  color: green;}
.yellow {
  color: yellow;}
.red {
  color: red;}

.navigation {
  font-size: 100%;
  color: white;
  font-weight: 600;
}

.navigation li {
  padding-right: 10px;
}
.navigation a:hover {
  color: grey;
  font-weight: 800;
}
.navigation a:visited {
  color: white;
}
